
<!-- <section class="blog__categories">
  <div class="container">
      <ul>
          <a class="all-link btn btn-sm btn-primary active" href="#">View All</a>
          <a class="category-link btn btn-sm btn-primary" data-category="work1" href="#">work1</a>
          <a class="category-link btn btn-sm btn-primary" data-category="fun1" href="#">fun1</a>
          <a class="category-link btn btn-sm btn-primary" data-category="work2" href="#">work2</a>
          <a class="category-link btn btn-sm btn-primary" data-category="Culture" href="#">Culture</a>
          <a class="category-link btn btn-sm btn-primary" data-category="E-Commerce" href="#">E-Commerce</a>
          <a class="category-link btn btn-sm btn-primary" data-category="Development" href="#">Development</a>
      </ul>
  </div>
</section> -->

	<section class="card-container">
		<div class="grid-container">
      {%- for project in sorted_projects -%}
        <div class="blog-card">
					<div class="blog-category">
            {% for category in project.categories %}  <a> {{ category }}</a> {% endfor %}
          </div>
					<div class="card-header"><img src="https://i.postimg.cc/tTDvHXDX/rover.jpg" alt="rover" /></div>
					<div class="card-main">
              <span class="tag tag-teal">Technology</span>
              <h4>{{ project.title }}</h4>
              <p>{{ project.description }}</p>
            </div>
          </div>
        {%- endfor %}							
			<button class="show-more btn">View More</button>
			<a class="top" href="#">Back to Top</a>
		</div>
	</section>

