.show-more {
margin-left: 45%;
margin-top: 24px;
box-shadow: 0 0px 2px 0 rgba(0,0,0,0.16),0 2px 2px 0 rgba(0, 0, 0, 0);
color: var(--global-theme-color) !important;
font-weight: 500;
}

.show-more:hover {
    color: var(--global-theme-color) !important;
}

.top {
float: right;
margin-top: 24px;
box-shadow: 0 0px 2px 0 rgba(0,0,0,0.16),0 2px 2px 0 rgba(0, 0, 0, 0);
padding: 12px;
font-weight: 500;
}

.btn-primary {
  background-color: rgba(179, 179, 179, 0.16) !important;
  color: #000;
  font-size: 12px !important;
  font-weight: 500;
}

.btn-primary:hover {
  color: #000000;
}

.btn-primary:not([disabled]):not(.disabled).active {
    background-color: var(--global-theme-color) !important;
    color: #000;
  }

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: var(--global-theme-color) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
  }